.wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

.col .material-icons {
	margin-left:43%;
	font-size:3em;
	color:#757575;
}
.col .promo-caption {
	text-align:center;
}
.col .promo-description {
	text-align:center;
}

/* INDEX PAGE */
.start {
	margin:3.5em;
	padding-left:5px;
	padding-right:5px;
	
}
.start .quickheader {
	text-align:center;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	.start {
		margin:0;
	}
	
}